<h4>Quiz Index</h4>
<% @quizzes.each do |quiz| %>
	<%= link_to (quiz.name), new_quiz_answer_path(quiz.id), method: :get, class: @quiz_answered.include?(quiz.id) ? 'btn btn-success' : 'btn btn-primary' %>
	<span><%= link_to "check_answers", quiz_answers_path(quiz.id), class: "btn btn-primary" %></span><br/><br/>
<% end %>
