<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to CSF</h1>
    <h3>You can register your a/c here</h3><span><%= link_to "register", dashboards_url %> </span>
  </body>
</html>