<div>
We are change agents for business innovation. By leveraging global resource partnerships, we draw the highest level talent from worldwide locations. For us, achieving excellence is a team activity - from developers to designers and clients to our partners. We combine our talent with the latest in technology to engineer dynamic business solutions. We take pride in partnering with the Art of Living as an endeavor to serve  society.
</div><br/><br/>

<%=  link_to "Quiz List", quizzes_path, :method => :get, :class => "btn btn-primary" %>
